<h4>Wähle ein oder mehrere Tickets aus. Fülle ein Ticket immer vollständig aus!</h4>
<hr>
<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div role="tab" id="headingOne1" class="alert alert-success">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
        aria-controls="collapseOne1">
        <h4 class="mb-0">
         3 -2 -1
        </h4>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
      data-parent="#accordionEx">
      <div class="card-bodyx">
       <p>3 Dinge die ich heute gelernt habe:</p>
[[3 Dinge]]
<br /><br /><p>2 Dinge die ich heute interessant fand:</p>
[[2 Dinge]]
<br /><br /><p>Eine Frage habe ich noch:</p>
[[Eine Frage]]
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="alert alert-dark" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h4 class="mb-0">
          Spickzettel
        </h4>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
      data-parent="#accordionEx">
      <div class="card-bodyx">
       <p>Schreibe zur heutigen Unterrichtstunde einen Spickzettel mit maximal 5 Zeilen:</p>
[[Spickzettel]]
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="alert alert-warning" role="tab" id="headingThree3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h4 class="mb-0">
          Fachbegriffe 
        </h4>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
      data-parent="#accordionEx">
      <div class="card-bodyx">
    <p>5  wichtige (Fach-)begriffe aus dem heutigen Unterricht</p>
[[Fachbegriffe]]
      </div>
    </div>

  </div>
  <!-- Accordion card -->


  <div class="card">

    <!-- Card header -->
    <div class="alert alert-danger" role="tab" id="headingThree4">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
        aria-expanded="false" aria-controls="collapseThree4">
        <h4 class="mb-0">
          Emojis! 
        </h4>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
      data-parent="#accordionEx">
      <div class="card-bodyx">
    <p>Wie hast du dich heute im Unterricht gefühlt? Wähle die entsprechenden Emojis!</p>
[[Emojis]]
<p>Erkläre, warum du diese Emojis gewählt hast!</p>
[[Emojis2]]
      </div>
    </div>

  </div>
  <!-- Accordion card -->


<!-- Accordion card -->


  <div class="card">

    <!-- Card header -->
    <div class="alert alert-primary" role="tab" id="headingThree5">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree5"
        aria-expanded="false" aria-controls="collapseThree5">
        <h4 class="mb-0">
         Rückmeldung 
        </h4>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5"
      data-parent="#accordionEx">
      <div class="card-bodyx">
    <p>Wie fandest du den heutigen Unterricht?</p>
[[Feedback1]]
<br /><p>Wie war dein Arbeitsverhalten heute?</p>
[[Feedback2]]
<br /><p>Hast das heutige Thema verstanden?</p>
[[Feedback3]]
<br /><p>Das hat mich heute geärgert:</p>
[[Feedback4]]
</br><p>Das hat mich heute gefreut:</p>
[[Feedback5]]

      </div>
    </div>

  </div>
  <!-- Accordion card -->
</div>
<!-- Accordion wrapper -->
