<div class="defaulttemplate"><table class="mod-data-default-template ##approvalstatusclass##">
<tbody><tr class="">
<td class="template-field cell c0" style="">3 Dinge: </td>
<td class="template-token cell c1 lastcol" style="">[[3 Dinge]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">2 Dinge: </td>
<td class="template-token cell c1 lastcol" style="">[[2 Dinge]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Eine Frage: </td>
<td class="template-token cell c1 lastcol" style="">[[Eine Frage]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Spickzettel: </td>
<td class="template-token cell c1 lastcol" style="">[[Spickzettel]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Fachbegriffe: </td>
<td class="template-token cell c1 lastcol" style="">[[Fachbegriffe]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Emojis2: </td>
<td class="template-token cell c1 lastcol" style="">[[Emojis2]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Feedback1: </td>
<td class="template-token cell c1 lastcol" style="">[[Feedback1]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Feedback2: </td>
<td class="template-token cell c1 lastcol" style="">[[Feedback2]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Feedback3: </td>
<td class="template-token cell c1 lastcol" style="">[[Feedback3]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Feedback4: </td>
<td class="template-token cell c1 lastcol" style="">[[Feedback4]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Feedback5: </td>
<td class="template-token cell c1 lastcol" style="">[[Feedback5]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Emojis: </td>
<td class="template-token cell c1 lastcol" style="">[[Emojis]]</td>
</tr>
<tr class="searchcontrols">
<td class="template-field cell c0" style="">Vorname (Autor/in): </td>
<td class="template-token cell c1 lastcol" style="">##firstname##</td>
</tr>
<tr class="searchcontrols lastrow">
<td class="template-field cell c0" style="">Nachname (Autor/in): </td>
<td class="template-token cell c1 lastcol" style="">##lastname##</td>
</tr>
</tbody>
</table>
</div>