<tr>


<td style="font-size: large;">##userpicture## ##user##</td>
<td>##timeadded##<br/><br />##edit## ##delete## ##approve####disapprove##</td>
<td><div style="max-width:120px;"><a href="##moreurl##"><button type="button" class="btn btn-primary">Ticket anzeigen</button></a></div>
</td>  
</tr>