<table class="table" style="max-width:900px;">
  <tbody>
 <thead class="thead">
    <tr> 
     <th class="c1 header" align="left">Name</th>
<th class="c1 header" align="left">Datum</th>
            <th class="c1 header" align="left">Anzeigen</th>

    </tr> </thead>