<div class="ticket"><p class="profil">##userpicture## ##user##</p><hr>
<div class="dreieins"><div class="dinge">[[3 Dinge]]</div><div class="dingezwei">[[2 Dinge]]</div><div class="frage">[[Eine Frage]]</div></div>

<div class="spickzettel">[[Spickzettel]]</div>

<div class="fachbegriffe">[[Fachbegriffe]]</div>

<div class="emojis"><div class="emoji1">[[Emojis2]]</div><div ="emoji2">[[Emojis]]</div></div>

<div class="feedback"><div class="feedbackeins">[[Feedback1]]</div><div class="feedbackzwei">[[Feedback2]]</div><div class="feedbackdrei">[[Feedback3]]</div><div class="feedbackvier">[[Feedback4]]</div><div class="feedbackfuenf">[[Feedback5]]</div></div><hr>
<p class="edit">##timeadded## ##edit####delete####disapprove####approve##</p></div>